<div class="row mb-3" *ngIf="member">
    <div class="col-2 mb-3" *ngFor="let photo of member.photos">
        <img src="{{photo.url}}" alt="photo of user" class="img-thumbnail mb-1">
        <div class="text-center">
            <button class="btn btn-sm m-3"
            (click)="setMainPhoto(photo)"
            [ngClass]="photo.isMain ? 'btn-success active':'btn-outline-success'"
            [disabled]="photo.isMain">Main</button>
            <button class="btn btn-sm btn-danger"
            (click)="deletePhoto(photo.id)"
            [disabled]="photo.isMain"><i class="fa fa-trash"></i></button>
            
        </div>
    </div>
</div>

<div class="row pt-3">
    <div class="col-5">
        <label for="file" class="mb-2">Upload new photo</label>
        <input type="file" name="file" class="form-control mb-3" (change)="selectImage($event)">
        <button (click)="uploadImage()" class="btn btn-success">Upload</button>
    </div>
</div>